ArrayTaskID BiasFraction SampleWeightingMethod Dataset BiasType
1 0.1 fw-mrs-temperature folktables_income less_positive_class
2 0.1 fw-mrs-temperature folktables_employment less_positive_class
3 0.1 fw-mrs-temperature-svm folktables_income less_positive_class
4 0.1 fw-mrs-temperature-svm folktables_employment less_positive_class
5 0.1 fw-mrs-temperature folktables_income less_negative_class
6 0.1 fw-mrs-temperature folktables_employment less_negative_class
7 0.1 fw-mrs-temperature-svm folktables_income less_negative_class
8 0.1 fw-mrs-temperature-svm folktables_employment less_negative_class