ArrayTaskID BiasFraction SampleWeightingMethod DATASET
1 0.1 fw-mrs-temperature folktables_income
2 0.1 fw-mrs-temperature folktables_employment  
3 0.1 fw-mrs-temperature-mean folktables_income
4 0.1 fw-mrs-temperature-mean folktables_employment  
5 0.1 fw-mrs-temperature-svm folktables_income
6 0.1 fw-mrs-temperature-svm folktables_employment  
7 0.2 fw-mrs-temperature folktables_income
8 0.2 fw-mrs-temperature folktables_employment  
9 0.2 fw-mrs-temperature-mean folktables_income
10 0.2 fw-mrs-temperature-mean folktables_employment  
11 0.2 fw-mrs-temperature-svm folktables_income
12 0.2 fw-mrs-temperature-svm folktables_employment  
13 0.3 fw-mrs-temperature folktables_income
14 0.3 fw-mrs-temperature folktables_employment  
15 0.3 fw-mrs-temperature-mean folktables_income
16 0.3 fw-mrs-temperature-mean folktables_employment  
17 0.3 fw-mrs-temperature-svm folktables_income
18 0.3 fw-mrs-temperature-svm folktables_employment  
