ArrayTaskID BiasFraction SampleWeightingMethod Dataset BiasType Drop
1 0.1 fw-mrs-temperature folktables_income less_positive_class 5
2 0.1 fw-mrs-temperature-svm folktables_income less_positive_class 5
3 0.0 fw-mrs-temperature gbs_allensbach none 1
4 0.0 fw-mrs-temperature-svm gbs_allensbach none 1